<footer>
    <div class="cajas-desplegables">
        <div class="desplegable">
            <button class="boton">Asistencia</button>
            <div class="links">
                <a href="#">Terminos y condiciones</a>
                <a href="#">Defesa del consumir</a>
                <a href="#">Guia de talles</a>
                <a href="#">Formas de pago</a>
                <a href="#">Como comprar</a>
            </div>
        </div>
        <div class="desplegable">
            <button class="boton">Nosotros</button>
            <div class="links">
                <a href="#">Acerca de SNKR BA</a>
                <a href="#">Trabaja con nosotros</a>
                <a href="#">Prensa</a>
                <a href="#">Informacion corporativa</a>
            </div>
        </div>
        <div class="desplegable">
            <button class="boton">Contacto</button>
            <div class="links">
                <a href="#">Locales</a>
                <a href="#">Email</a>
            </div>
        </div>
        <div class="desplegable-shop">
            <button class="boton">Shop</button>
            <div class="links">
                <a href="#">Productos</a>
                <a href="#">Marcas</a>
                <a href="#">Sale</a>
            </div>
        </div>
    </div>
    <div class="iconos">
        <div class="caja1">
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
        </div>
        <div class="caja2">
            <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
        </div>
        <div class="caja3">
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
        </div>
    </div>

</footer>