<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sneakers BA</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div>
        <h3> 6 cuotas sin interés con Visa </h3>
    </div>

    <header class="main-header">

        <div>
            <img id="nav-logo" src="/images/Logo1.png" alt="Logo Sneakers">
        </div>
        <nav class="barra-de-navegacion">
            <div>
                <ul>
                    <li> Hombre </li>
                    <li> Mujer </li>
                    <li> Sale </li>
                </ul>
            </div>

            <div>

                <i class="fa-solid fa-magnifying-glass"></i>
                </i> <input class="barra-busqueda" type="text" placeholder="Buscar productos, marcas">
            </div>

            <div>
                <i class="fa-sharp fa-solid fa-cart-shopping"></i>
                <i class="fa-regular fa-user"></i>
            </div>
        </nav>

    </header>

    <main>
        <div id="conte-items-carrusel">

            <div class="item-carrusel" id="item-carrusel-1">

                <div class="card-Carrusel" id="card-carrusel-1">
                    <img src="" alt="" class="img-carrusel">
                </div>
                <div class="arrow-carrusel">
                    <div class="arrow-carrusel">
                        <a href="#item-carrusel-3">
                            <i class="fa-solid fa-circle-arrow-left"></i>
                        </a>
                        <a href="#item-carrusel-2">
                            <i class="fa-solid fa-circle-arrow-right"></i>
                        </a>
                    </div>
                </div>

            </div>

            <div class="item-carrusel" id="item-carrusel-2">

                <div class="card-carrusel" id="card-carrusel-2">
                    <img src="" alt="" class="img-carrusel">
                </div>
                <div class="arrow-carrusel">
                    <a href="#item-carrusel-1">
                        <i class="fa-solid fa-circle-arrow-left"></i>
                    </a>
                    <a href="#item-carrusel-3">
                        <i class="fa-solid fa-circle-arrow-right"></i>
                    </a>
                </div>

            </div>

            <div class="item-carrusel" id="item-carrusel-3">

                <div class="card-carrusel" id="card-carrusel-3">
                    <img src="" alt="" class="img-carrusel">
                </div>
                <div class="arrow-carrusel">
                    <div class="arrow-carrusel">
                        <a href="#item-carrusel-2">
                            <i class="fa-solid fa-circle-arrow-left"></i>
                        </a>
                        <a href="#item-carrusel-1">
                            <i class="fa-solid fa-circle-arrow-right"></i>
                        </a>
                    </div>
                </div>

            </div>

        </div>
        <div id="conte-puntos">

            <a href="#item-carrusel-1"><i class="fa-solid fa-circle"></i></a>
            <a href="#item-carrusel-2"><i class="fa-solid fa-circle"></i></a>
            <a href="#item-carrusel-3"><i class="fa-solid fa-circle"></i></a>

        </div>
        <div class="featured-products">

            <article class="product">

                <a href="">
                    <img src="" alt="">
                </a>

                <div class="info-featured-product">

                    <h3 class="name-product"> Nombre Producto1 </h3>
                    <p class="price-product"> $Precio </p>

                </div>

            </article>

            <article class="product">

                <a href="">
                    <img src="" alt="">
                </a>

                <div class="info-featured-product">

                    <h3 class="name-product"> Nombre Producto2 </h3>
                    <p class="price-product"> $Precio </p>

                </div>

            </article>

            <article class="product">

                <a href="">
                    <img src="" alt="">
                </a>

                <div class="info-featured-product">

                    <h3 class="name-product"> Nombre Producto3 </h3>
                    <p class="price-product"> $Precio </p>

                </div>

            </article>

        </div>
        <div class="sections-main">
            <section class="sections">

                <div class="section">

                    <a href="">
                        <img class="image-section" src="/images/hombreSneaker.jpg" alt=" hombreSneaker ">
                    </a>

                    <h3 class="name-section"> HOMBRE </h3>

                </div>

            </section>

            <section class="sections">

                <div class="section">

                    <a href="">
                        <img class="image-section" src="/images/mujerSneaker.jpg" alt=" mujerSneaker ">
                    </a>

                    <h3 class="name-section"> MUJER </h3>

                </div>

            </section>

            
            <section class="sections">

                <div class="section">

                    <a href="">
                        <img class="image-section" src="/images/saleSneaker.jpg" alt=" saleSneaker ">
                    </a>

                    <h3 class="name-section"> SALE </h3>

                </div>

            </section>

        </div>
    </main>

    <footer>
        <section class="footer-section">

            <h4 class="tittle-section"> SHOP </h4>

            <div>
                <a class="footer-info" href=""> Hombres </a>
                <a class="footer-info" href=""> Mujeres </a>
                <a class="footer-info" href=""> Sale </a>
            </div>

        </section>

        <section class="footer-section">

            <h4 class="tittle-section"> ASISTENCIA  </h4>

            <div>
                <a class="footer-info" href=""> Términos y condiciones </a>
                <a class="footer-info" href=""> Defensa al consumidor </a>
                <a class="footer-info" href=""> Guia de talles  </a>
                <a class="footer-info" href=""> Formas de pago </a>
                <a class="footer-info" href=""> Cómo comprar </a>
            </div>
            
        </section>

        <section class="footer-section">

            <h4 class="tittle-section"> NOSOTROS  </h4>

            <div>
                <a class="footer-info" href=""> Acerca de SNKR BA </a>
                <a class="footer-info" href=""> Trabaja con nosotros </a>
                <a class="footer-info" href=""> Prensa  </a>
                <a class="footer-info" href=""> Informacion corporativa </a>
            </div>
            
        </section>

        <section class="footer-section">

            <h4 class="tittle-section"> CONTACTO  </h4>

            <div>
                <a class="footer-info" href=""> Locales </a>
                <a class="footer-info" href=""> atencionclientes@snkrba.com </a>
                <a > <i class="fa-brands fa-instagram"></i> </a>
                <a > <i class="fa-brands fa-whatsapp"></i> </a>
                <a > <i class="fa-brands fa-facebook-f"></i> </a>
            </div>
            
        </section>

    </footer>

</body>

</html>