<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sneakers BA</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div>
        <h3> 6 cuotas sin interés con Visa </h3>
    </div>

    <header class="main-header">

        <div>
            <img id="nav-logo" src="/images/Logo1.png" alt="Logo Sneakers">
        </div>
        <nav class="barra-de-navegacion">
            <div>
                <ul>
                    <li> Hombre </li>
                    <li> Mujer </li>
                    <li> Sale </li>
                </ul>
            </div>

            <div>

                <i class="fa-solid fa-magnifying-glass"></i>
                </i> <input class="barra-busqueda" type="text" placeholder="Buscar productos, marcas">
            </div>

            <div>
                <i class="fa-sharp fa-solid fa-cart-shopping"></i>
                <i class="fa-regular fa-user"></i>
            </div>
        </nav>

    </header>

    <main>
        <div id="conteItemsCarrusel">

            <div class="itemCarrusel" id="itemCarrusel-1">

                <div class="cardCarrusel" id="cardCarrusel-1">
                    <img src="" alt="" class="imgCarrusel">
                </div>
                <div class="arrowCarrusel">
                    <div class="arrowCarrusel">
                        <a href="#itemCarrusel-3">
                            <i class="fa-solid fa-circle-arrow-left"></i>
                        </a>
                        <a href="#itemCarrusel-2">
                            <i class="fa-solid fa-circle-arrow-right"></i>
                        </a>
                    </div>
                </div>

            </div>

            <div class="itemCarrusel" id="itemCarrusel-2">

                <div class="cardCarrusel" id="cardCarrusel-2">
                    <img src="" alt="" class="imgCarruse2">
                </div>
                <div class="arrowCarrusel">
                    <a href="#itemCarrusel-1">
                        <i class="fa-solid fa-circle-arrow-left"></i>
                    </a>
                    <a href="#itemCarrusel-3">
                        <i class="fa-solid fa-circle-arrow-right"></i>
                    </a>
                </div>

            </div>

            <div class="itemCarrusel" id="itemCarrusel-3">

                <div class="cardCarrusel" id="cardCarrusel-3">
                    <img src="" alt="" class="imgCarrusel">
                </div>
                <div class="arrowCarrusel">
                    <div class="arrowCarrusel">
                        <a href="#itemCarrusel-2">
                            <i class="fa-solid fa-circle-arrow-left"></i>
                        </a>
                        <a href="#itemCarrusel-1">
                            <i class="fa-solid fa-circle-arrow-right"></i>
                        </a>
                    </div>
                </div>

            </div>

        </div>
        <div id="contePuntos">

            <a href="#itemCarrusel-1"><i class="fa-solid fa-circle"></i></a>
            <a href="#itemCarrusel-2"><i class="fa-solid fa-circle"></i></a>
            <a href="#itemCarrusel-3"><i class="fa-solid fa-circle"></i></a>

        </div>
        <div class="featuredProducts">

            <article class="product">

                <a href="">
                    <img src="" alt="">
                </a>

                <div class="infoFeaturedProduct">

                    <h3 class="nameProduct"> Nombre Producto1 </h3>
                    <p class="priceProduct"> $Precio </p>

                </div>

            </article>

            <article class="product">

                <a href="">
                    <img src="" alt="">
                </a>

                <div class="infoFeaturedProduct">

                    <h3 class="nameProduct"> Nombre Producto2 </h3>
                    <p class="priceProduct"> $Precio </p>

                </div>

            </article>

            <article class="product">

                <a href="">
                    <img src="" alt="">
                </a>

                <div class="infoFeaturedProduct">

                    <h3 class="nameProduct"> Nombre Producto3 </h3>
                    <p class="priceProduct"> $Precio </p>

                </div>

            </article>

        </div>
        <div class="sectionsMain">
            <section class="sections">

                <div class="section">

                    <a href="">
                        <img class="imageSection" src="/images/hombreSneaker.jpg" alt=" hombreSneaker ">
                    </a>

                    <h3 class="nameSection"> HOMBRE </h3>

                </div>

            </section>

            <section class="sections">

                <div class="section">

                    <a href="">
                        <img class="imageSection" src="/images/mujerSneaker.jpg" alt=" mujerSneaker ">
                    </a>

                    <h3 class="nameSection"> MUJER </h3>

                </div>

            </section>

            
            <section class="sections">

                <div class="section">

                    <a href="">
                        <img class="imageSection" src="/images/saleSneaker.jpg" alt=" saleSneaker ">
                    </a>

                    <h3 class="nameSection"> SALE </h3>

                </div>

            </section>

        </div>
    </main>

    <footer>
        <section>

            <h4> SHOP </h4>

            <div>
                <a class="footerInfo" href=""> Hombres </a>
                <a class="footerInfo" href=""> Mujeres </a>
                <a class="footerInfo" href=""> Sale </a>
            </div>

        </section>

        <section>

            <h4> ASISTENCIA  </h4>

            <div>
                <a class="footerInfo" href=""> Términos y condiciones </a>
                <a class="footerInfo" href=""> Defensa al consumidor </a>
                <a class="footerInfo" href=""> Guia de talles  </a>
                <a class="footerInfo" href=""> Formas de pago </a>
                <a class="footerInfo" href=""> Cómo comprar </a>
            </div>
            
        </section>

        <section>

            <h4> NOSOTROS  </h4>

            <div>
                <a class="footerInfo" href=""> Acerca de SNKR BA </a>
                <a class="footerInfo" href=""> Trabaja con nosotros </a>
                <a class="footerInfo" href=""> Prensa  </a>
                <a class="footerInfo" href=""> Informacion corporativa </a>
            </div>
            
        </section>

        <section>

            <h4> CONTACTO  </h4>

            <div>
                <a class="footerInfo" href=""> Locales </a>
                <a class="footerInfo" href=""> atencionclientes@snkrba.com </a>
                <a class="footerInfo" href=""> <i class="fa-brands fa-instagram"></i> </a>
                <a class="footerInfo" href=""> <i class="fa-brands fa-whatsapp"></i> </a>
                <a class="footerInfo" href=""> <i class="fa-brands fa-facebook-f"></i> </a>
            </div>
            
        </section>

    </footer>

</body>

</html>