<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sneakers BA</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        <div class="promo-cuotas">
            <h3> 6 cuotas sin interés con Visa </h3>
        </div>
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
        <div class="logo">
            <a href="/"><img id="snk-logo"src="/images/Logo1.png" alt="Logo Sneakers"></a>
        </div>
        <nav class="main-nav">
                <ul class="site-nav">
                    <li> Hombre </li>
                    <li> Mujer </li>
                    <li> Sale </li>
                </ul>
                <ul class="user-nav">
                    <li><i class="fa-solid fa-magnifying-glass"></i></li>
                    <li class="barra-busqueda"><input type="text" placeholder="Buscar productos, marcas"></li>
                    <li><a href="/productCar"><i class="fa-sharp fa-solid fa-cart-shopping"> </i></a></li>
                    <li><a href="/login"><i class="fa-regular fa-user"></i></a></li>
                </ul>
        </nav>

    </header>

    <main>
        <div id="conte-items-carrusel">

            <div class="item-carrusel" id="item-carrusel-1">

                <div class="card-Carrusel" id="card-carrusel-1">
                    <img src="" alt="" class="img-carrusel">
                </div>
                <div class="arrow-carrusel">
                    <div class="arrow-carrusel">
                        <a href="#item-carrusel-3">
                            <i class="fa-solid fa-circle-arrow-left"></i>
                        </a>
                        <a href="#item-carrusel-2">
                            <i class="fa-solid fa-circle-arrow-right"></i>
                        </a>
                    </div>
                </div>

            </div>

            <div class="item-carrusel" id="item-carrusel-2">

                <div class="card-carrusel" id="card-carrusel-2">
                    <img src="" alt="" class="img-carrusel">
                </div>
                <div class="arrow-carrusel">
                    <a href="#item-carrusel-1">
                        <i class="fa-solid fa-circle-arrow-left"></i>
                    </a>
                    <a href="#item-carrusel-3">
                        <i class="fa-solid fa-circle-arrow-right"></i>
                    </a>
                </div>

            </div>

            <div class="item-carrusel" id="item-carrusel-3">

                <div class="card-carrusel" id="card-carrusel-3">
                    <img src="" alt="" class="img-carrusel">
                </div>
                <div class="arrow-carrusel">
                    <div class="arrow-carrusel">
                        <a href="#item-carrusel-2">
                            <i class="fa-solid fa-circle-arrow-left"></i>
                        </a>
                        <a href="#item-carrusel-1">
                            <i class="fa-solid fa-circle-arrow-right"></i>
                        </a>
                    </div>
                </div>

            </div>

        </div>
        <div id="conte-puntos">

            <a href="#item-carrusel-1"><i class="fa-solid fa-circle"></i></a>
            <a href="#item-carrusel-2"><i class="fa-solid fa-circle"></i></a>
            <a href="#item-carrusel-3"><i class="fa-solid fa-circle"></i></a>

        </div>
        <div class="featured-products">

            <article class="product">

                <a href="">
                    <img src="" alt="">
                </a>

                <div class="info-featured-product">

                    <h3 class="name-product"> Nombre Producto1 </h3>
                    <p class="price-product"> $Precio </p>

                </div>

            </article>

            <article class="product">

                <a href="">
                    <img src="" alt="">
                </a>

                <div class="info-featured-product">

                    <h3 class="name-product"> Nombre Producto2 </h3>
                    <p class="price-product"> $Precio </p>

                </div>

            </article>

            <article class="product">

                <a href="">
                    <img src="" alt="">
                </a>

                <div class="info-featured-product">

                    <h3 class="name-product"> Nombre Producto3 </h3>
                    <p class="price-product"> $Precio </p>

                </div>

            </article>

        </div>
        <div class="sections-main">
            <section class="sections">

                <div class="section">

                    <a href="">
                        <img class="image-section" src="/images/hombreSneaker.jpg" alt=" hombreSneaker ">
                    </a>

                    <h3 class="name-section"> HOMBRE </h3>

                </div>

            </section>

            <section class="sections">

                <div class="section">

                    <a href="">
                        <img class="image-section" src="/images/mujerSneaker.jpg" alt=" mujerSneaker ">
                    </a>

                    <h3 class="name-section"> MUJER </h3>

                </div>

            </section>


            <section class="sections">

                <div class="section">

                    <a href="">
                        <img class="image-section" src="/images/saleSneaker.jpg" alt=" saleSneaker ">
                    </a>

                    <h3 class="name-section"> SALE </h3>

                </div>

            </section>

        </div>
    </main>

    <footer>
        <div class="cajas-desplegables">
            <div class="desplegable">
                <button class="boton">Asistencia</button>
                <div class="links">
                    <a href="#">Terminos y condiciones</a>
                    <a href="#">Defesa del consumir</a>
                    <a href="#">Guia de talles</a>
                    <a href="#">Formas de pago</a>
                    <a href="#">Como comprar</a>
                </div>
            </div>
            <div class="desplegable">
                <button class="boton">Nosotros</button>
                <div class="links">
                    <a href="#">Acerca de SNKR BA</a>
                    <a href="#">Trabaja con nosotros</a>
                    <a href="#">Prensa</a>
                    <a href="#">Informacion corporativa</a>
                </div>
            </div>
            <div class="desplegable">
                <button class="boton">Contacto</button>
                <div class="links">
                    <a href="#">Locales</a>
                    <a href="#">Email</a>
                </div>
            </div>
        </div>
        <div class="iconos">
            <div class="caja1">
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
            </div>
            <div class="caja2">
                <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
            </div>
            <div class="caja3">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
            </div>
        </div>

    </footer>

</body>

</html>