<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sneakers BA</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div>
        <h3> 6 cuotas sin interés con Visa </h3>
    </div>

    <header class="main-header">

        <div>
            <img id="nav-logo" src="/images/Logo1.png" alt="Logo Sneakers">
        </div>
        <nav class="barra-de-navegacion">
            <div>
                <ul>
                    <li> Hombre </li>
                    <li> Mujer </li>
                    <li> Sale </li>
                </ul>
            </div>

            <div>

                <i class="fa-solid fa-magnifying-glass"></i>
                </i> <input class="barra-busqueda" type="text" placeholder="Buscar productos, marcas">
            </div>

            <div>
                <a href="/productCar">
                    <i class="fa-sharp fa-solid fa-cart-shopping"> </i>
                </a>

                <a href="/login">
                    <i class="fa-regular fa-user"></i>
                </a>

                <a href="/register">
                    <i class="fa-solid fa-user-plus"></i>
                </a>
            </div>

        </nav>

    </header>

    <form method="post" action="/" class="create-form">

        <div class="control-form">
            <input type="text" name="nombreDeUsuario" class="control" placeholder="Nombre de usuari@" required>
        </div>

        <div class="control-form">
            <input type="password" name="Contraseña" class="control" placeholder="Contraseña" required>
        </div>

        <div>
            <button type="submit" class="boton-formulario"> INGRESAR </button>
        </div>

        <div>
            <a href=""></a>
        </div>


    </form>

    <footer>
        <section class="footer-section">

            <h4 class="tittle-section"> SHOP </h4>

            <div>
                <a class="footer-info" href=""> Hombres </a>
                <a class="footer-info" href=""> Mujeres </a>
                <a class="footer-info" href=""> Sale </a>
            </div>

        </section>

        <section class="footer-section">

            <h4 class="tittle-section"> ASISTENCIA </h4>

            <div>
                <a class="footer-info" href=""> Términos y condiciones </a>
                <a class="footer-info" href=""> Defensa al consumidor </a>
                <a class="footer-info" href=""> Guia de talles </a>
                <a class="footer-info" href=""> Formas de pago </a>
                <a class="footer-info" href=""> Cómo comprar </a>
            </div>

        </section>

        <section class="footer-section">

            <h4 class="tittle-section"> NOSOTROS </h4>

            <div>
                <a class="footer-info" href=""> Acerca de SNKR BA </a>
                <a class="footer-info" href=""> Trabaja con nosotros </a>
                <a class="footer-info" href=""> Prensa </a>
                <a class="footer-info" href=""> Informacion corporativa </a>
            </div>

        </section>

        <section class="footer-section">

            <h4 class="tittle-section"> CONTACTO </h4>

            <div>
                <a class="footer-info" href=""> Locales </a>
                <a class="footer-info" href=""> atencionclientes@snkrba.com </a>
                
                <div class="icons-footer">
                    
                    <a href=""> <i class="fa-brands fa-instagram"></i> </a>
                    <a href=""> <i class="fa-brands fa-whatsapp"></i> </a>
                    <a href=""> <i class="fa-brands fa-facebook-f"></i> </a>
                    
                </div>

            </div>

        </section>

    </footer>

</body>