<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sneakers BA</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div>
        <h3> 6 cuotas sin interés con Visa </h3>
    </div>

    <header class="main-header">

        <div>
            <img id="nav-logo" src="/images/Logo1.png" alt="Logo Sneakers">
        </div>
        <nav class="barra-de-navegacion">
            <div>
                <ul>
                    <li> Hombre </li>
                    <li> Mujer </li>
                    <li> Sale </li>
                </ul>
            </div>

            <div>

                <i class="fa-solid fa-magnifying-glass"></i>
                </i> <input class="barra-busqueda" type="text" placeholder="Buscar productos, marcas">
            </div>

            <div>
                <i class="fa-sharp fa-solid fa-cart-shopping"></i>
                <i class="fa-regular fa-user"></i>
            </div>
        </nav>

    </header>

</body>