<%- include('partials/metadata') %>
<link rel="stylesheet" href="/css/styles-createProduct.css">
<link rel="stylesheet" href="/css/styles.css">
</head>

<body>
   <%- include('partials/header') %>
   <main class="main-container">
    <section>
    
       <form class="admin-container"   method="POST" action="/products/create" >

            <!-- ----TÍTULO----  -->
           <div>
                <h1 class="titulo">CARGAR PRODUCTO </h1>
           </div>


       <div class="">
           <!-- ----NOMBRE ----  -->
           <div class="form-nombre">
                <label for="">Nombre del producto</label></br>
                <input type="text" name="name" placeholder="Ingresá nombre del producto" class="nombre-producto-create">
           </div>

           <!-- ----CATEGORÍA----  -->
           <div class="form-categorias">
                <label for="">Categoría:</label></br>
                <select class="textarea-input" id="categoria-create" name="category">
                   <option value="" selected disabled hidden>Elegí una opción</option>
                     <option class="textarea-input" value="1">Hombre</option>
                     <option class="textarea-input" value="3">Mujer</option>
                </select>
           </div>

           <!-- ----foto----  -->
           <div class="form-imagen" class="create-input-photo">
               <label>Foto del producto</label>
               <br>
               <input type="file" name="image" class="imagen-product-create">
          </div>

       </div>


       <div class="">
               <!-- ----DESCRIPCIÓN----  -->
               <div class="form-descipcion">
               <label for="">Descripción</label></br>
               <textarea name="description"  class="textarea-input" id="description" rows="4" cols="38" placeholder="Agregá una descripción"></textarea> 
               </div>

               <!-- ----Talle----  -->
               <div class="form-talle">
               <label for="">Talle</label></br>
               <select class="textarea-input" id="categoria-create" name="category">
                <option value="" selected disabled hidden>Elegí una opción</option>
                  <option class="textarea-input" value="1">40</option>
                  <option class="textarea-input" value="3">41</option>
                  <option class="textarea-input" value="1">42</option>
                  <option class="textarea-input" value="3">43</option>
             </select>
               </div>
         
               <!-- ----PRECIO----  -->
               <div class="form-precio">
              <label for="">Precio</label></br>
              <input type="number" name="price" placeholder="Ingresá un precio" class="precio-product-create">
               </div>
        </div>
          <!-- ----BOTÓN "GUARDAR"----  -->
          <button type="submit" class="boton-guardar">Guardar</button>
       </form>

    </section>   
   </main>
           <%- include('partials/footer') %>
</body>

</html>