
* {
    margin: 0px ;
    padding: 0px ;
    box-sizing: border-box ;
}

body {
    font-family: 'Helvetica';
    background-color: var(--azul);
    margin: 5px;
}

:root {
    --rosa: #e94560;
    --azul: #16213e;
    --azul-claro: #0f3460;
    --violeta: #533483;
}
/*----HEADER RUBEN----*/

header {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 13vh;
}

header ul li {
    list-style-type: none;

}

.promo-cuotas {
    background-color: var(--azul);
    text-align: center;
    width: 100%;
    padding: 5px;
}

header div.logo {
   margin: auto;
}

#snk-logo {
    width: 65px;
}

.burger-menu {
    font-size: 30px;
    margin: auto;

}
.burger-menu i {
    padding: 15px;

}

.main-nav {
    display: flex;
    align-items: center;
    margin: auto;

}

.main-nav i {
    font-size: 18px;
    color: black;
}

.main-nav ul {
    display: flex;
    text-align: center;
    align-items: center;
    margin-left: 20px;
}

.main-nav li {
    margin: 0 5px;
}

.main-nav .site-nav {
    display: none;
}

.barra-busqueda {
    display: none;
}

.promo-cuotas h3 {
    color: #fff;
    font-size: 100%;
    font-weight: lighter;
}

.site-nav a {
    text-decoration: none;
    color: black;
}


/*--- ACA TERMINA HEADER RUBEN ----*/

/*--- FOOOTER RUBEN----*/

.boton {
    background-color: transparent;
    color: black;
    border: none;
    padding: 16px;
    font-size: 18px;
    font-weight: bold;
}

.links a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 13px;
}

.links {
    background-color: transparent;
    width: 185px;
    display: none;
}

.links a:hover {
    background-color: #533483;
}

.desplegable:hover .links{
    display: block;
}

.desplegable-shop {
    display: none;
}

.caja1 {
  
    text-align: center;
    margin: 5px;
}

.caja2{
    text-align: center;
    margin: 5px;
}

.caja3{
    text-align: center;
     margin: 5px;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    width: 100%;
    flex-wrap: wrap;
    align-self: flex-end;
    border-top: solid 2px var(--azul-claro);
}

.iconos i {
    color: black;
    font-size: 20px
}

.iconos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 15px;

}

/*--- ACÁ TERMINA FOOOTER RUBEN----*/


/*--- ACÁ COMIENZA MAIN DANIEL----*/
.cartMain {
    display:flex;
    flex-direction: column;
    background-color: #fff;
    border-top: solid 2px var(--azul-claro);
}
.cartMain .grupo1,.grupo2 {
    display: flex;
    flex-direction: column;
}

.cartMain .cartTop {
    border-bottom: 1px solid black;
    /*border-top: 1px solid black;*/
    padding: 15px;

 }

 .cartMain .cartList{
     margin:10px;
     width:100%;
 }
 
 .cartMain .cartItem{
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     align-items: flex-start;
     margin-top:30px;
 }
 
 .cartMain .itemImage {
    width:45%;
    border-radius: 5px;
    flex-grow: 10;
 }
 
  .cartMain .itemDetail {
    width: 45%;
     margin:12px;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
 }
 
 .cartMain .productPrice {
    font-weight: bold;
 }
 .cartMain .productPriceQtyCaret {
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     font-weight: bold;
     justify-content:space-between;
 }
 
 .cartMain  .itemActions {
     display:flex;
     flex-direction: column;
     justify-content: flex-start;
     margin-top: 3%;
     margin-bottom: 3%;
     width:5%;
 }
  
 .cartMain form {
    margin: 20px 15px 20px 15px;
    padding:20px;
 }
 .cartMain .codPromocional {
    width: 95%;
    font-size: 20px;
    padding: 10px;
 }
 
 .cartMain .orderSummary {
    margin-left: 15px;
    margin-right: 15px;
 }

 .cartMain .orderLine {
     display: flex;
     justify-content:space-between;
     margin-top:10px;
 }
 
 .cartMain .paymentOptions {
     display: none;
 }
 
 .cartMain .botonPagar {
     width: 100%;
     height: 30px;
     text-align: center;
     background-color: black;
     color: white;
     margin:15px 0px 15px 0px;
     border-radius: 8px;
 }
 
 .cartMain .botonPagar:hover {
     cursor: pointer;
 }
 

/* MEDIA QUERY PARA DESKTOP product car */

@media (min-width:1024px) {
    .cartMain{
        display: flex;
        flex-direction: row;
    }  
    .cartMain .cartTop {
        border-bottom: 0px;
        order: 1;
     }
   
    .cartMain  .cartList {
        order: 2;
        margin-bottom: 50px;
   }
  
    .cartMain  .botonPagar {
        order:1;
        height: 30px;
        text-align: center;
        background-color: black;
        color: white;
        margin: 15px 0px 15px 0px;
        border-radius: 8px;
    }
    .cartMain  .orderSummary {
        order:2;
     }
    
    .cartMain  form  {
        width:30%;
        order: 3;
     }

    .cartMain .cardLogos {
        display:flex;
        justify-content: space-around;
    }
    .cardLogo {
        margin-top: 20px;
        width: 50px;
        height: 40px;
     }
    
     .paymentOptions {
        order:4;
        display:block;  
        width: 30%;
        margin-left: 15px;
        order: 6;
    }
}

/*Media Query header y footer */

@media (min-width: 550px) {
    .main-nav {
        display: flex;
        justify-content: space-between;
        padding: 20px;
    }

    .main-nav ul {
        display: flex;
        text-align: center;
        align-items: center;
        margin-left: 20px;

    }

    .main-nav li {
        margin: 0 5px;
    }


    main section article .description {
        display: block;
    }

    main section article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    div.burger-menu i {
        display: none;
    }

    .products {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .products article {
        width: 45%;
    }

    div.top-header {
        flex-wrap: nowrap;
    }


}

@media (min-width: 769px) {

    .products article {
        width: 30%;
    }


    .main-nav li {
        margin: 0 21px;
    }

    .main-nav .site-nav {
        display: flex;
    }


    .barra-busqueda {
        display: block;
    }

    .barra-busqueda input {
        border-radius: 4px;
        border-style: none;
        background-color: #ebebeb;
        padding: 5px;
    }

    .main-products h3 {
        font-size: 2vw;
    }
}

@media (min-width:826px) {

    .links {
        background-color: transparent;
        width: 190px;
        display: block;
    }

    .links a {
        text-decoration: none;
        color: black;
        display: block;
        padding: 13px;
    }

    .cajas-desplegables {
        display: flex;
        flex-direction: row-reverse;
    }

    .desplegable-shop {
        display: block;
    }

    .iconos {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 15px;
    }

    .main-products2 {
        display: block;
        margin-top: 40px;
        margin-bottom: 15px;
    }

    .main-products2 article h3 {
        text-align: center;
        color: #533483;
        padding: 5px;
    }


}

@media (min-width:1280px) {

    .cajas-desplegables {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        margin: auto;
    }

    .desplegable-shop {
        display: block;
        margin-left: 20%;
    }

    .desplegable {
        margin-left: 20%;
    }

    .promo-cuotas {
        padding: 5px;
        height: 25%;
    }

    #snk-logo {
        width: 100px;
    }

    header div.logo {
        margin-left: 40px;
    }

    .main-nav {
        margin-right: 0;
    }
}
