:root {
  --rosa: #e94560;
  --azul: #16213e;
  --azul-claro: #0f3460;
  --violeta: #533483;
}

.tittle-class {
  margin-top: 20px;
  color: white;
  text-align: center;
}

.product-box {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  overflow: hidden;
  transition: 300ms;
  margin: 20px 0;
}

.box-son {
  background-color: white;
  width: 80%;
  border-radius: 10px;
}

.image {
  width: 100%;
  border-radius: 10px
}

a {
  text-decoration: none;
}

.name-product {
  color: var(--rosa);
  text-align: center;
  border-top: 1px solid black;
  padding-top: 20px;
}

.price-product {
  color: black;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 15px;
  font-size: 20px;
}
.product-box_data {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.detail-product {
  color: color: var(var(--violeta));
  text-align: center;
  margin-top: 25px;
  margin-bottom: 15px;
  font-size: 20px;
}

@media (min-width: 550px) {
  #div-products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .box-son {
    box-shadow: 13px 0px 14px 0px rgb(100,100,100);
  }

  .product-box {
    width: 50%;
  }
}

@media (min-width:1280px) {
  .product-box {
    width: 25%;
  }
}