:root {
    --rosa: #e94560;
    --azul: #16213e;
    --azul-claro: #0f3460;
    --violeta: #533483;
}

@keyframes colorGris{
    0%{
        color: #fff;
    }

    25%{
        color:#808080;
        width: 255px;
        height: 75px;
        font-size: 20px;
       
    }
    50%{
        color:#808080;
        width: 300px;
        height: 90px;
        font-size:25px;
    }

    75%{
        color:#808080;
        width: 255px;
        height: 75px;
        font-size: 20px;
    }

    100%{
        color: #fff;
    }
}

#caja-detail {
    background-color: #fff;
}

.cajas-desplegables{
    background: white;
}


.image-product {
    width: 100%;
    border-bottom: solid 1px #000;
}

.titulo-product {
    font-size: 25px;
    margin: 2%;
}

.price-product {
    font-size: 15px;
    color: var(--rosa);
    margin: 2%;
}

p {
    margin: 2%;
}

.select-talles {
    margin-top: 2%;
    margin-bottom: 5%;
    margin-left: 2%;
    text-align: center;
    width: 85px;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid var(--violeta);
    outline: none;
    background-color: var(--rosa);
    border: 0;
}

.addToCar{
    background-color: #000;
    color: #fff;
    padding: 15px 30px;
    width: 200px;
    height: 50px;
    font-size: 15px;
}

.addToCar:hover{
    animation-name: colorGris;
    animation-duration: 5000ms;
}
.likeProduct{
    background-color: #fff;
    border:0px;
}

.fa-heart{
  font-size: 20px;
}

.fa-heart:hover{
    color: #e94560;
}

.desplegableDescription{
    border-top: solid 1px #000;
    border-bottom: solid 1px #000;
    background: white;
}
.desplegableDescription:hover .textDescription{
    display: inline;
}
.botonDescription {
    background-color: transparent;
    color: black;
    border: none;
    padding: 16px;
    font-size: 18px;
    font-weight: bold;
}
.textDescription p {
    color: black;
    padding: 13px;
}

.textDescription {
    background-color: white;
    width: 185px;
    display: none;
}

.buttons-product{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

@media (min-width:1280px) {
    .image-product{
        width: 80%;
        border-bottom: none;
    }
    #caja-detail{
        display: flex;
        flex-direction: row ;
        justify-content: center
    }

    .information-product{
        flex-direction: row;
    }

    .textDescription{
        background-color: #fff;
    }
    .titulo-product {
        font-size: 44px;
        margin-top: 24%;
    }

    .buttons-product{
        margin-bottom: 20px;
    }

    .price-product{
        margin: 35px 10px;
    }
    
}

