* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica';
    background-color: var(--azul)
}

/*----HEADER RUBEN----*/

header {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header ul li {
    list-style-type: none;

}

.promo-cuotas {
    background-color: var(--azul);
    text-align: center;
    width: 100%;
    padding: 5px;
}

header div.logo {
    width: 30%;
}

#snk-logo {
    width: 100%;
}

.burger-menu {
    font-size: 30px;
    margin: 30px;

}
.burger-menu i {
    padding: 15px;

}

.main-nav {
    display: flex;
    align-items: center;
    margin-right: 30px;

}

.main-nav i {
    font-size: 18px;
    color: black;
}

.main-nav ul {
    display: flex;
    text-align: center;
    align-items: center;
    margin-left: 20px;
}

.main-nav li {
    margin: 0 5px;
}

.main-nav .site-nav {
    display: none;
}

.barra-busqueda {
    display: none;
}

.promo-cuotas h3 {
    color: #fff;
    font-size: 100%;
    font-weight: lighter;
}

/*--- ACA TERMINA HEADER RUBEN ----*/


/*--- MAIN INDEX ---*/

:root{
    --rosa: #e94560;
    --azul: #16213e;
    --azul-claro:#0f3460 ;
    --violeta:#533483;
}

#conte-items-carrusel{
    border: 3px solid black;
    height: 400px;
    overflow: hidden;
}

.item-carrusel {
    border: 1px solid black;
    height: 100%;
    position: relative;
}

.card-carrusel {
    height: 100%;
}

.arrow-carrusel {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
a {
    text-decoration: none;

}
.fa-circle-arrow-left, .fa-circle-arrow-right{
    color: var(--rosa);

}

#conte-puntos{
    background-color: var(--rosa);
    display: flex;
    justify-content: space-around;
}
.fa-circle{
    font-size: 10px;
    color: white;
    margin: 10px;
}
.img-carrusel{
    width: 100%;
    height: 100%;
}

/*--- FOOOTER RUBEN----*/

.boton {
    background-color: transparent;
    color: black;
    border: none;
    padding: 16px;
    font-size: 18px;
}

.links a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 13px;
}

.links {
    background-color: transparent;
    width: 185px;
    display: none;
}

.links a:hover {
    background-color: blueviolet;
}

.desplegable:hover .links{
    display: block;
}

.caja1 {
  
    text-align: center;
    margin: 5px;
}

.caja2{
    text-align: center;
    margin: 5px;
}

.caja3{
    text-align: center;
     margin: 5px;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}

.iconos i {
    color: black;
    font-size: 20px
}

.iconos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 15px;

}

/*--- ACÁ TERMINA FOOOTER RUBEN----*/