     <%- include('partials/metadata') %>
       <link rel="stylesheet" href="/css/styles-index.css">
       <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>

        <%- include('partials/header') %>
            <main>
                <div class="container-all">
                    <input type="radio" id="1" name="image-slide" hidden />
                    <input type="radio" id="2" name="image-slide" hidden />
                    <input type="radio" id="3" name="image-slide" hidden />

                    <div class="slide">
                        <div class="item-slide">
                            <img src="/images/slider1.png">
                        </div>
                        <div class="item-slide">
                            <img src="/images/slider2.png">
                        </div>
                        <div class="item-slide">
                            <img src="/images/slider3.png">
                        </div>
                    </div>

                    <div class="pagination">
                        <label class="pagination-item" for="1">
                            <img src="/images/slider1.png">
                        </label>
                        <label class="pagination-item" for="2">
                            <img src="/images/slider2.png">
                        </label>
                        <label class="pagination-item" for="3">
                            <img src="/images/slider3.png">
                        </label>
                    </div>
                </div>
                <section class="main-products">
                    <h3>Productos destacados</h3>
                    <div class="products">
                        <article>
                            <img src="\images\Adidas-Forum-84-Hi-White-Gold-Foil.jpg" alt="Adidas Forum 84"
                                class="product_img">
                            <div class="main-article">
                                <p class="price">$106.770</p>
                                <h4 class="description">Adidas Forum 84 Hi White GoldFoil</h4>
                            </div>
                        </article>
                        <article>
                            <img src="\images\adidas-Forum-Buckle-Low-Bad-Bunny-Blue-Tint.jpg"
                                alt="Adidas bad bunny blue" class="product_img">
                            <div class="main-article">
                                <p class="price">$230.000</p>
                                <h4 class="description">Adidas Forum Buckle Low Bad-Bunny BlueTint</h4>
                            </div>
                        </article>
                        <article>
                            <img src="\images\adidas-NMD-R1-Core-Black-Lush-Red-2015-2017.jpg"
                                alt="Adidas nmd r1 core black" class="product_img">
                            <div class="main-article">
                                <p class="price">$50.500</p>
                                <h4 class="description">Adidas NMD R1 Core Black Lush Red</h4>
                            </div>
                        </article>
                        </article>
                    </div>
                </section>
                <section class="main-products2">
                    <div class="products">
                        <article>
                            <a href="/products">
                                <img src="\images\productos.png" alt="productos" class="producto_img">
                                <h3>PRODUCTOS</h3>
                            </a>
                           
                        </article>
                        <article>
                            <img src="\images\marcas.png" alt="marcas" class="marcas_img">
                            <h3>MARCAS</h3>
                        </article>
                        <article>
                            <img src="\images\SALE.png" alt="sale" class="sale_img">
                            <h3>SALES</h3>
                        </article>
                    </div>
                </section>
            </main>

            <%- include('partials/footer') %>

    </body>

    </html>