<header>
    <div class="promo-cuotas">
        <h3> 6 cuotas sin interés con Visa </h3>
    </div>
    <div class="burger-menu">
        <i class="fa fa-bars burger"></i>
    </div>
    <div class="logo">
        <a href="/"><img id="snk-logo"src="/images/Logo1.png" alt="Logo Sneakers"></a>
    </div>
    <nav class="main-nav">
            <ul class="site-nav">
                <a href="/productos"><li> Productos </li></a>
                <a href="#"><li> Marcas </li></a>
                <a href="#"><li> Sale </li></a>
            </ul>
            <ul class="user-nav">
                <li><i class="fa-solid fa-magnifying-glass"></i></li>
                <li class="barra-busqueda"><input type="text" placeholder="Buscar productos, marcas"></li>
                <li><a href="/cart"><i class="fa-sharp fa-solid fa-cart-shopping"> </i></a></li>
                <li><a href="/login"><i class="fa-regular fa-user"></i></a></li>
            </ul>
    </nav>
</header>